
html	{
	margin: -10px -10px 0px -10px;
	background-color: #F2E0BD;
	height: 100%;
	font-family: sans-serif;
}

body	{
	height: 100%;
}

.centralcolumn	{
	width: 940px;
	padding: 0px 10px 0px 10px;
	height: 100%;
	margin: auto;
	background-color: white;

	/*border: 1px solid green;*/
}

/*/\/\/\/\/\/\/\/\/\HEADER/\/\/\/\/\/\/\/\/\*/

.header	{
	width: 100%;


	margin: auto;
	display: inline-block;

	border: 1px solid blue;
}

.logo	{
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	text-align: center;
}

.circlenav	{
	margin-left: 0px; margin-bottom: 10px; margin-right: 20px; margin-top: 10px;
	float: right;
	background-color: #4EA54E;
	border: 2px solid black; border-radius: 100px;
	width: 100px;
	height: 100px;
	/*display: inline-block;*/

	overflow: hidden;


	color: white;
}      

.circlenav:hover {
	border: 2px solid yellow;
	color: yellow;

}

.circlenavtext	{
	position: absolute;
	margin-left: 15px;

	margin-top: 64px;
	text-decoration: none;
	font-weight: normal;

    height: 0px;
}

.headercontact	{
	margin-left: 0px; margin-bottom: 10px; margin-right: 10px; margin-top: 10px;
	float: right;


	height: 100px;
}

.headercontacttext	{

}


/*/\/\/\/\/\/\/\/\/\BODY/\/\/\/\/\/\/\/\/\*/

.content {
	border: 1px solid red;
	padding: 10px;

}

.blurb	{
	padding: 12px 0px 12px 100px;
	margin-top: 20px;

	border: 1px solid black;
}

.blurbtitle	{
	background-color: white;
	position: absolute;
	margin: -25px 0px 0px 100px;
	padding: 0px 12px 0px 12px;
	font-size: 24px;

	border-left: 1px solid black; border-right: 1px solid black;
}



/*/\/\/\/\/\/\/\/\/\FOOTER/\/\/\/\/\/\/\/\/\*/



.footercontainer	{
	bottom: 0;
	width: 940px;
	background-color: white;
	margin: auto;

	text-align: center;
	position: absolute;



	padding: 10px;


	border: 1px solid purple;
}

.footerblock	{
	display: inline-block;
	text-align: left;
	margin-right: 10px;



	border: 1px solid green;
}



/*/\/\/\/\/\/\/\/\/\CLEARING RULES/\/\/\/\/\/\/\/\/\*/

p.clear	{
	clear: both;
}

div.clear	{
	clear: both;
}


/*/\/\/\/\/\/\/\/\/\EXTRAS/\/\/\/\/\/\/\/\/\*/

.stockphoto	{
	height: 595px;
	width: 915px;

	border: 1px solid black;
}

