<!doctype html>


<!--This links to the css stylesheet-->
<link rel=stylesheet type=text/css href ="static/css/style.css">


<html>
<head>
<title>Oded Heinrich Tile, Marble and Design</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>

<!--
<style type="text/css">
	body 		{
	margin: 0px;
	padding: 0px;
	background-color: #F2E0BD;
	/*background-image: url("static/backgrounds/{{randombackgroundimage}}");*/
	background-image: url("static/backgrounds/coffeebeans.jpg");
	}
</style>
-->
</head>

<body>


<div class="centralcolumn">
	
	<div class="header">


		<a href="/" style="color: black;">
			<div class="logo">
				<span style="font-size: 49px; text-align: center;">
					Oded Heinrich
				</span><br />
				<span style="font-size: 31px;">
					Tile, Marble, and Design
				</span>
			</div>
		</a>


		<!--
		<div style="float: right">
			Menu Item | Menu Item | Menu Item | Menu Item
		</div>
		-->
		<!--
		<div class="circlenav">
			<div class="circlenavtext">
				<div style="width: 5px; text-align: center;">C o n t a c t</div>
			</div>
		</div>
		-->
		<div class="headercontact">
			<div class="headercontacttext">
				<strong>Contact</strong><br />
				(555) 555 - 5555<br />
				email@gmail.com<br />
				<br />
				<strong>License Number</strong><br />
				#1234567
			</div>
		</div>

		<div class="circlenav">
			<div class="circlenavtext">
				Testimonials
			</div>
		</div>

		<div class="circlenav">
			<div class="circlenavtext">
				Gallery
			</div>
		</div>

		<a href="/about">
			<div class="circlenav">
				<div class="circlenavtext">
					About Us
				</div>
			</div>
		</a>		


	</div>

	<div class="content">
		{% block body %}{% endblock %}
	</div>

<!--
	<div class="blurb">
		<div class="blurbtitle">
			Tile, Marble, and Design by Oded Heinrich
		</div>
		<div style="text-align: center; margin-left: 0px; margin-top: 20px;">
			Oded Heinrich is a tile and marble contractor living and working in the Berkeley/Oakland area.
		</div>
		<div style="text-align: center; margin-left: -100px; margin-top: 20px;">
			<strong>(510) 918 - 0974 | odedheinrich@gmail.com</strong>
		</div>
	</div>
-->


	<div class="footercontainer">

		<div class="footerblock">
			Footer Content<br />
			Additional Content
		</div>
		<div class="footerblock">
			Footer Content<br />
			Additional Content
		</div>
		<div class="footerblock">
			Footer Content<br />
			Additional Content
		</div>
		<div class="footerblock">
			<strong>License Number</strong><br />
			#1234567<br /><br />
		</div>
		<div class="footerblock">
			<strong>Contact</strong><br />
			(555) 555 - 5555<br />
			email@gmail.com
		</div>

	</div>



</div>


</body>
</html>
